body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-group {
  position: absolute;
  z-index: 10;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.add-node-button,
.save-flow-button,
.load-flow-button {
  padding: 10px 15px;
  background-color: #3a3a3a;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-node-button:hover,
.save-flow-button:hover,
.load-flow-button:hover {
  background-color: #575757;
}

.react-flow__background {
  background-color: #1e1e1e;
}

.react-flow__controls {
  background-color: #2e2e2e;
  border: 1px solid #555;
  border-radius: 4px;
}

.react-flow__edge-path:hover {
  stroke: #ff4d4d !important; /* Change edge color on hover */
  stroke-width: 3px !important; /* Increase edge width on hover */
  cursor: pointer; /* Indicate interactivity */
}

.clear-all-button {
  padding: 10px 15px;
  background-color: #3a3a3a;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-all-button:hover {
  background-color: #575757;
}
